{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<div class="py-6 flex justify-center">
  <div class="w-full max-w-2xl bg-white shadow rounded-xl p-6">

    <h1 class="text-2xl font-semibold mb-4">About Us</h1>
    
    <p class="text-gray-700 mb-1">Team TripleE members</p>
     <ul class="list-disc pl-6 space-y-1 text-gray-700">
      <li>ธีภพ บำบัดภัย 6610685197</li>
      <li>ศุภกิตติ์ อัศววุฒิโรจน์ 6610685338</li>
      <li>เสฏฐพัชร ญาณพัฒน์สร 6610685361</li>
      <li>อธิภัทร จึงขจรเกียรติ 6610685379</li>
      <li>พงศธร ทองเกลี้ยง 6610685254</li>
    </ul>
    <h2 class="text-lg font-semibold mt-4 mb-2">Project Hold</h2>
    <ul class="list-disc pl-6 space-y-1 text-gray-700">
      <li>ภาษาหลัก: Django </li>
      <li>มีโครงสร้างรองรับมือถือด้วย Tailwind CSS</li>
      <li><a href="https://github.com/6610685379/cn331-as2" target="_blank">Github Repository</a></li>
    </ul>
</div>
{% endblock %}
